.DS_Store

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

*.pidb

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio 2015 cache/options directory
.vs/

.idea/

Build

stellarage.iml

client/Builds
client/Temp/
client/obj/
client/Library/
client/Assets/Plugins/Shared/Bin
client/Assets/Plugins/Shared/Bin.meta
client/Assets/Plugins/Shared/Sources
client/Assets/Plugins/Shared/Sources.meta
client/Assets/RenderingOrderHighlighterTool/
client/Assets/RenderingOrderHighlighterTool.meta
client/Assets/UnityVS
client/Assets/UnityVS.meta
client/ProjectSettings/Physics2DSettings.asset
client/ProjectSettings/EditorBuildSettings.asset
client/build_Data
client/build.exe
client/client-csharp.sln
client/client.sln
client/Assembly-CSharp-Editor-firstpass-vs.csproj
client/Assembly-CSharp-Editor-firstpass.csproj
client/Assembly-CSharp-Editor-vs.csproj
client/Assembly-CSharp-Editor.csproj
client/Assembly-CSharp-firstpass-vs.csproj
client/Assembly-CSharp-firstpass.csproj
client/Assembly-CSharp-vs.csproj
client/Assembly-CSharp.csproj
client/Assembly-UnityScript-vs.unityproj
client/Assembly-UnityScript.unityproj
client/Assets/Plugins/Shared/SharedSource.meta
client/Assets/Plugins/Shared/SharedSource/
client/client.CSharp.csproj
client/client.CSharp.Editor.csproj
client/client.CSharp.Editor.Plugins.csproj
client/client.CSharp.Plugins.csproj

client-csharp.v11.suo
client.v11.suo
client/UnityVS.client.CSharp.Editor.csproj
client/UnityVS.client.CSharp.csproj
client/UnityVS.client.CSharp.Editor.Plugins.csproj
client/UnityVS.client.CSharp.Plugins.csproj
client/client.tss

*.nupkg
**/packages/*
!**/packages/build/