.DS_Store

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

*.pidb

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio 2015 cache/options directory
.vs/

.idea/

Build

stellarage.iml

UnityProject/Builds
UnityProject/Temp/
UnityProject/obj/
UnityProject/Library/
UnityProject/Assets/Plugins/Shared/Bin
UnityProject/Assets/Plugins/Shared/Bin.meta
UnityProject/Assets/Plugins/Shared/Sources
UnityProject/Assets/Plugins/Shared/Sources.meta
UnityProject/Assets/RenderingOrderHighlighterTool/
UnityProject/Assets/RenderingOrderHighlighterTool.meta
UnityProject/Assets/UnityVS
UnityProject/Assets/UnityVS.meta
UnityProject/ProjectSettings/Physics2DSettings.asset
UnityProject/ProjectSettings/EditorBuildSettings.asset
UnityProject/build_Data
UnityProject/build.exe
UnityProject/ViewStateManager-csharp.sln
UnityProject/ViewStateManager.sln
UnityProject/Assembly-CSharp-Editor-firstpass-vs.csproj
UnityProject/Assembly-CSharp-Editor-firstpass.csproj
UnityProject/Assembly-CSharp-Editor-vs.csproj
UnityProject/Assembly-CSharp-Editor.csproj
UnityProject/Assembly-CSharp-firstpass-vs.csproj
UnityProject/Assembly-CSharp-firstpass.csproj
UnityProject/Assembly-CSharp-vs.csproj
UnityProject/Assembly-CSharp.csproj
UnityProject/Assembly-UnityScript-vs.unityproj
UnityProject/Assembly-UnityScript.unityproj
UnityProject/Assets/Plugins/Shared/SharedSource.meta
UnityProject/Assets/Plugins/Shared/SharedSource/
UnityProject/ViewStateManager.CSharp.csproj
UnityProject/ViewStateManager.CSharp.Editor.csproj
UnityProject/ViewStateManager.CSharp.Editor.Plugins.csproj
UnityProject/ViewStateManager.CSharp.Plugins.csproj

ViewStateManager-csharp.v11.suo
ViewStateManager.v11.suo
UnityProject/UnityVS.ViewStateManager.CSharp.Editor.csproj
UnityProject/UnityVS.ViewStateManager.CSharp.csproj
UnityProject/UnityVS.ViewStateManager.CSharp.Editor.Plugins.csproj
UnityProject/UnityVS.ViewStateManager.CSharp.Plugins.csproj
UnityProject/ViewStateManager.tss

*.nupkg
**/packages/*
!**/packages/build/